img {
    max-width: 20rem;
    max-height: 20rem;
}
table {
    width: 100%;
}

.approve-button {
    font-size: 16px;
}
  
.approve-button:hover {
    font-size: 16px;
    background-color: #A0D4A4;
    color: black;
    text-decoration: none;
}

.reject-button {
    font-size: 16px;
    margin-left: 10px;
}

.reject-button:hover {
    background-color: rgb(230, 54, 54);
}

.center {
    display: flex;
    justify-content: center;
}


/* Absolute Center Spinner */

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}