<mat-form-field style="width: 20%; margin-left: 1%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by Name or Date">
    </mat-form-field>
    
    <div class="mat-elevation-z8">
        <table mat-table class="full-width-table" matSort aria-label="Elements">
            <!-- activityId Column -->
            <ng-container matColumnDef="activityId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Activities ID</th>
                <td mat-cell *matCellDef="let activity">{{activity.activityId}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- activityImage Column -->
            <ng-container matColumnDef="activityImage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Activities Image</th>
                <td *matCellDef="let activity">
                    <img mat-card-image [src]="activity.activityImage || defaultImageUrl">
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- actName Column -->
            <ng-container matColumnDef="activityName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Activities Name</th>
                <td mat-cell *matCellDef="let activity">{{activity.activityName}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- location Column -->
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of activities</th>
                <td mat-cell *matCellDef="let activity">{{activity.date}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- Date Column -->
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Time of activities</th>
                <td mat-cell *matCellDef="let activity">{{activity.time}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- preriodOfRegis Column -->
            <ng-container matColumnDef="regisDateStart">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Preriod of registration</th>
                <td mat-cell *matCellDef="let activity">{{activity.regisDateStart}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- host Column -->
            <ng-container matColumnDef="TeacherName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Advicer</th>
                <td mat-cell *matCellDef="let activity">{{activity.advisor.name}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <!-- Status Column -->
            <!-- <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let activity">{{activity.status}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container> -->
    
            <!-- Add button Column -->
            <ng-container matColumnDef="enrollButton">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let activity">
                        <div class="center">
                            <button mat-raised-button class="approve-button" id="{{'enrollBtn'+ activity.activityId }}" (click)="openDialog(activity.activityId)">Approve</button>
                            <button mat-raised-button class="reject-button" id="{{'enrollBtn'+ activity.activityId }}" (click)="openDialog(activity.activityId)">Reject</button>
                        </div>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
        <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
    </div>