<div class="container justify-content-center">

        <mat-card class="card-content-wrapper">
            <div>
                <h5> Update Profile </h5>
            </div>
    
            <form [formGroup]="form" (submit)="submit()">
    
                <div class="container">
                    <div class="row">
                        <!-- firstname -->
                        <div class="col-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder=" firstname " formControlName="name" required>
                                <mat-error *ngFor="let validation of validation_messages.name">
                                    <mat-error class="error-message" *ngIf="form.get('name').hasError(validation.type) 
                                                            && (form.get('name').dirty || form.get('name').touched)">
                                        {{validation.message}}
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- surname -->
                        <div class="col-3">
                            <mat-form-field class="full-width">
                                <input matInput placeholder=" surname " formControlName="surname" required>
                                <mat-error *ngFor="let validation of validation_messages.surname">
                                    <mat-error class="error-message" *ngIf="form.get('surname').hasError(validation.type) 
                                                            && (form.get('surname').dirty || form.get('surname').touched)">
                                        {{validation.message}}
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <!-- student id -->
                    <!-- <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput placeholder=" student id " formControlName="studentId" required #spy>
                            <mat-error *ngFor="let validation of validation_messages.studentId">
                                <mat-error class="error-message" *ngIf="form.get('studentId').hasError(validation.type) 
                                            && (form.get('studentId').dirty || form.get('studentId').touched)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div> -->
                    <!-- email -->
                    <!-- <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput placeholder=" email " formControlName="email" required #spy>
                            <mat-error *ngFor="let validation of validation_messages.email">
                                <mat-error class="error-message" *ngIf="form.get('email').hasError(validation.type) 
                                                  && (form.get('email').dirty || form.get('email').touched)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div> -->
                </div>
    
                <div class="row">
                    <!-- password -->
                    <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput placeholder=" new password " formControlName="password" required #spy [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngFor="let validation of validation_messages.password">
                                <mat-error class="error-message" *ngIf="form.get('password').hasError(validation.type) 
                                              && (form.get('password').dirty || form.get('password').touched)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- confirm Password -->
                    <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput placeholder=" confirm new password " formControlName="passwordConf" required [type]="hide ? 'password' : 'text'"
                                (input)="matchPassword()">
                            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngFor="let validation of validation_messages.passwordConf">
                                <mat-error class="error-message" *ngIf="form.get('passwordConf').hasError(validation.type) 
                                              && (form.get('passwordConf').dirty || form.get('passwordConf').touched)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
    
                <div class="row">
                    <!-- image upload -->
                    <div class="col">
                        <form>
                            <mat-file-upload [labelText]="'select your profile image:'" [selectButtonText]="'Choose File'" [uploadButtonText]="'Upload'"
                                [allowMultipleFiles]="'false'" [showUploadButton]="'true'" [customSvgIcon]="'close_custom'" [acceptedTypes]="'.png, .jpg, .jpeg, .bmp, .gif'"
                                (uploadClicked)="onUploadClicked($event)" (selectedFilesChanged)="onSelectedFilesChanged($event)">
                            </mat-file-upload>
                            <mat-progress-bar mode="indeterminate" *ngIf="progress > 0"></mat-progress-bar>
                            <div>
                                <img *ngIf="isUploaded" [src]="uploadedUrl" alt="">
                            </div>
                        </form>
                    </div>
                </div>
    
                <div class="row register-button-row">
                    <div class="col">
                        <button mat-raised-button color="primary" type="submit" 
                        [disabled]="!form.valid" [class.submit-button]="form.valid"> Update </button>
                    </div>
                </div>
                <mat-progress-bar style="margin-top: 5px;" mode="indeterminate" *ngIf="isRegistering"></mat-progress-bar>
            </form>
        </mat-card>
    
        <!-- date of birth -->
        <!-- <mat-form-field class="full-width">
                            <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob" required readonly>
                                <mat-error *ngFor="let validation of validation_messages.dob">
                                  {{validation.message}}
                               </mat-error>
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                         </mat-form-field> -->
    
        <!-- image upload -->
    
    </div>
