.form-row-wrapper {
    display: flex;
    flex-direction: row;
}

.form-field {
    margin-top: 10px;
}

.divide-spacer {
    margin: 20px 0 10px 0;
}

.my-button .register-title {
    font-family: 'Muli', sans-serif !important;
}

.my-button {
    margin-bottom: 30px;
    font-size: 1em;
    font-weight: 400;
    background-color: #f2d150;
}

.footer-wrapper {
    /* direction: flex; */
    display: flex;
    flex: 1 1 auto;
  }