<div class="mat-elevation-z8">

    <div *ngIf="loading" class="loading-indicator">
        <mat-spinner></mat-spinner>
    </div>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let student">{{student.id}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- StudentId Column -->
        <ng-container matColumnDef="studentId">
            <th mat-header-cell *matHeaderCellDef>Student id</th>
            <td mat-cell *matCellDef="let student">{{student.studentId}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let student">{{student.name}}</td>
            <td mat-footer-cell *matFooterCellDef>Total </td>
        </ng-container>
        <!-- Surname Column -->
        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
            <td mat-cell *matCellDef="let student">{{student.surname}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- pen amount Column -->
        <!-- Gpa Column -->
        <!-- <ng-container matColumnDef="gpa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>GPA</th>
                <td mat-cell *matCellDef="let student">{{student.gpa}}</td>
                <td mat-footer-cell *matFooterCellDef> {{averageGpa() | number:'1.2-2'}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container> -->
        <!-- image Column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="center-text">Image</th>
            <td mat-cell *matCellDef="let student" class="center-text">
                <img [src]="student.image" [title]="student.name" class="img-fluid">
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="enrollButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let student">
                <div class="center">
                    <button mat-raised-button class="approve-button"  (click)="approve(student)">Approve</button>
                    <button mat-raised-button class="reject-button"  (click)="Reject(student)">Reject</button>
                </div>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
</div>