<mat-sidenav-container class="sidenav-container">

    <mat-sidenav-content>

        <!--/////////////// top navigator ///////////////-->
        <mat-toolbar color="primary" *ngIf="hasRole('TEACHER, STUDENT, ADMIN')">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <!-- menu -->
            <a mat-button *ngIf="hasRole('STUDENT')" [routerLink]="['/student-dashboard']" routerLinkActive="router-link-active">Dashboard</a>
            <a mat-button *ngIf="hasRole('STUDENT')" [routerLink]="['/enrollment']" routerLinkActive="router-link-active"> Enrollment </a>

            <!-- Teacher menu  -->
            <a mat-button *ngIf="hasRole('TEACHER')" [routerLink]="['/teacher-dashboard']" routerLinkActive="router-link-active">Dashboard</a>
            <a mat-button *ngIf="hasRole('TEACHER')" [routerLink]="['/teacher-approve']" routerLinkActive="router-link-active"> Approve </a>
            <a mat-button *ngIf="hasRole('TEACHER')" [routerLink]="['/update-activity']" routerLinkActive="router-link-active"> Update </a>

            <a mat-button *ngIf="hasRole('ADMIN')" [routerLink]="['/admin-dashboard'] " routerLinkActive="router-link-active"> Dashboard </a>
            <a mat-button *ngIf="hasRole('ADMIN')" [routerLink]="['/student-approve'] " routerLinkActive="router-link-active"> List Student </a>

            <!-- <span class="top-nav-gap"></span>
            <a mat-button [matMenuTriggerFor]="menu">View</a> -->
            <mat-menu #menu="matMenu">
                <div *ngFor="let student of students$ | async">
                    <a mat-menu-item style="text-decoration:none" [routerLink]="['detail',student.id]" routerLinkActive="router-link-active">
                        {{student.name}} </a>
                </div>
            </mat-menu>

            <!-- profile -->
            <span class="top-nav-spacing"></span>
            <!-- get profile image -->
            <span>

                <div class="row profile-image-wrapper" [matMenuTriggerFor]="profileMenu">
                    <!-- <img src="assets/images/jiramed.jpg" class="profile-image"> -->

                    <img [src]="user.image || defaultImageUrl" class="profile-image">

                    <div class="col profile-info-wrapper">
                        <div class="row">
                            <span class="profile-text">
                                {{user.name}}
                            </span>
                        </div>
                        <div class="row">
                            <span *ngIf="hasRole('TEACHER, STUDENT')" class="profile-roll">
                                {{role}}
                            </span>
                            <span *ngIf="hasRole('ADMIN')" class="profile-roll-admin">
                                {{role}}
                            </span>
                        </div>
                    </div>

                </div>

            </span>

            <div>
                <mat-menu #profileMenu="matMenu">
                    <button mat-menu-item (click)="openUpdateProfileDialog()">Update profile</button>
                    <button mat-menu-item [routerLink]="['/login']">Logout</button>
                </mat-menu>
            </div>

        </mat-toolbar>
        <!--/////////////// end top navigator ///////////////-->
<!--/////////////// end top navigator ///////////////-->
        <!-- Add Content Here -->
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>