.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
img{
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

/* ----- top navigator -----  */
.top-nav-gap {
  margin-right: 2%;
}

.top-nav-spacing {
  flex: 1 1 auto;
}

.profile-image-wrapper {
  cursor: pointer;
}

.profile-image {
  /* border: 1px solid black; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(141, 141, 141);
}

.show-user:hover {
  cursor: default;
}

.profile-info-wrapper {
  margin-right: 30px;
  margin-left: 20px;
}

.profile-text {
  font-size: 1rem;
  color: black;
}

.profile-roll {
  font-size: 0.7rem;
  color: rgb(141, 141, 141);
  line-height: 0.3rem;
}
.profile-roll-admin{
  margin-top: 0.9rem;
  font-size: 1.2rem;
  color: rgb(141, 141, 141);
}

.mat-toolbar {
  background-color: #A0D4A4;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}