.login-card {
    width: 500px;
    height: 350px;
    margin: 130px auto;
    text-align: center;
}

.full-width {
    width: 300px !important;
}

.submit-button {
    background: #A0D4A4 !important;
    color: black !important;
}

.register-button:hover {
    background-color: #A0D4A4 !important;
    text-decoration: none;
    color: black;
}
