<div class="container justify-content-center">

    <mat-card class="card-content-wrapper">
        <div>
            <h5> Create Activity </h5>
        </div>

        <form [formGroup]="form" (submit)="submit()">

            <div class="container">
                <div class="row">
                    <!-- firstname -->
                    <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput placeholder=" activity name" formControlName="name" required>
                            <mat-error *ngFor="let validation of validation_messages.name">
                                <mat-error class="error-message" *ngIf="form.get('name').hasError(validation.type) 
                                                            && (form.get('name').dirty || form.get('name').touched)">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- start time -->
                    <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput [matDatepicker]="picker" placeholder="activity start time" formControlName="startTime" required readonly>
                            <mat-error *ngFor="let validation of validation_messages.startTime">
                                {{validation.message}}
                            </mat-error>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                    </div>
                </div>
            </div>

            <div class="row">
                <!-- location -->
                <div class="col-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder=" location" formControlName="actName" required>
                        <mat-error *ngFor="let validation of validation_messages.name">
                            'location': [
                            <mat-error class="error-message" *ngIf="form.get('location').hasError(validation.type) 
                                                            && (form.get('location').dirty || form.get('name').location)">
                                {{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <!-- password -->
                <div class="col-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder=" new password " formControlName="password" required #spy [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngFor="let validation of validation_messages.password">
                            <mat-error class="error-message" *ngIf="form.get('password').hasError(validation.type) 
                                              && (form.get('password').dirty || form.get('password').touched)">
                                {{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- confirm Password -->
                <div class="col-3">
                    <mat-form-field class="full-width">
                        <input matInput placeholder=" confirm new password " formControlName="passwordConf" required [type]="hide ? 'password' : 'text'"
                            (input)="matchPassword()">
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngFor="let validation of validation_messages.passwordConf">
                            <mat-error class="error-message" *ngIf="form.get('passwordConf').hasError(validation.type) 
                                              && (form.get('passwordConf').dirty || form.get('passwordConf').touched)">
                                {{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <!-- image upload -->
                <div class="col">
                    <form>
                        <mat-file-upload [labelText]="'select your profile image:'" [selectButtonText]="'Choose File'" [uploadButtonText]="'Upload'"
                            [allowMultipleFiles]="'false'" [showUploadButton]="'true'" [customSvgIcon]="'close_custom'" [acceptedTypes]="'.png, .jpg, .jpeg, .bmp, .gif'"
                            (uploadClicked)="onUploadClicked($event)" (selectedFilesChanged)="onSelectedFilesChanged($event)">
                        </mat-file-upload>
                        <mat-progress-bar mode="indeterminate" *ngIf="progress > 0"></mat-progress-bar>
                        <div>
                            <img *ngIf="isUploaded" [src]="uploadedUrl" alt="">
                        </div>
                    </form>
                </div>
            </div>

            <div class="row register-button-row">
                <div class="col">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" [class.submit-button]="form.valid"> Update </button>
                </div>
            </div>
            <mat-progress-bar style="margin-top: 5px;" mode="indeterminate" *ngIf="isRegistering"></mat-progress-bar>
        </form>
    </mat-card>


    <!-- image upload -->

</div>

<!-- start time
start date end desc -->