<app-my-nav></app-my-nav>

<!-- student list -->
<!-- <app-student-enrollment></app-student-enrollment> -->
<!-- <app-simple-dialog></app-simple-dialog> -->
<!-- <app-register></app-register> -->
<!-- <app-student-register-dialog></app-student-register-dialog> -->
<!-- <app-rama10></app-rama10> -->
