<mat-toolbar>
    <mat-toolbar-row>
        <h1>Activity</h1>
    </mat-toolbar-row>
</mat-toolbar>
<form style="margin-left: 1em">
    <mat-card class="img-width">
        <div class="row">
            <div class="column">
                <mat-card class="img-width">
                    <mat-card-header>
                        <mat-card-title>Image</mat-card-title>
                    </mat-card-header>
                    <img class="ImageAct" mat-card-image [attr.src]="activity?.activityImage"
                        [alt]="activity?.activityName">
                </mat-card>
            </div>
            <div class="column">
                <p><b>ActivityId:</b> {{activity.activityId}}</p>
                <hr>
                <p><b>ActivityName:</b> {{activity.activityName}}</p>
                <hr>
                <p><b>Location:</b> {{activity.location}}</p>
                <hr>
                <p><b>ActivityDate:</b> {{activity.activityDate}}</p>
                <hr>
                <p><b>StartTime:</b> {{activity.startTime}}</p>
                <hr>
                <p><b>Period of time:</b>{{activity.regisDateStart}} - {{activity.regisDateEnd}}</p>
                <hr>
                <p><b>Advisor name:</b> {{activity.advisor.name}}</p>
                <hr>
                <p><b>Description:</b>{{activity.description}}</p>
                <hr>
            </div>
        </div>
    </mat-card>
</form>

<form>
    <br>
    <h3 style="margin-left: 1%;">Comment</h3>
    <hr>
    <div *ngFor="let comment of activity?.comments">


        <mat-card class="comment-card">
            <tr>
                <td>
                    <img [src]="comment.image || defaultImageUrl" class="img-user">
                </td>
                <td>
                    <img [src]="comment.image" *ngIf="comment.image">
                </td>
                <td>
                    <div class="description">
                        <p>Description:</p>
                        <p>{{comment.text}}</p>
                    </div>
                </td>
            </tr>
            <mat-divider></mat-divider>

            <div>
                <button mat-icon-button color="warn" (click)="deleteComment(comment)" *ngIf="role == 'ADMIN'">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>
        <hr>
    </div>
</form>

<br>
<!-- Comment Student-->
<p style="margin-left:1%; "><b>Comment </b>
    <mat-icon>chat</mat-icon>
</p>
<form style="margin-left: 1em " [formGroup]="commentForm " (submit)="addComment() "
    *ngIf="role=='STUDENT' || role=='TEACHER' ">
    <mat-card>

        <img mat-card-lg-image [src]="user.image || defaultImageUrl " class="img-user1 ">
        <mat-form-field class="full-width ">
            <textarea matInput placeholder="Leave a comment " formControlName="comment" required></textarea>
        </mat-form-field>

        <!-- Upload image comment -->
        <form>
            <mat-file-upload style="margin-left: 8%; " [labelText]=" 'Select your image:' "
                [selectButtonText]=" 'Choose File' " [uploadButtonText]=" 'Upload' " [allowMultipleFiles]=" 'false' "
                [showUploadButton]=" 'true' " [customSvgIcon]="
                        'close_custom' " [acceptedTypes]=" '.png, .jpg, .jpeg, .bmp, .gif' "
                (uploadClicked)="onUploadClicked($event) " (selectedFilesChanged)="onSelectedFilesChanged($event) ">
            </mat-file-upload>
            <mat-progress-bar mode="indeterminate " *ngIf="progress> 0"></mat-progress-bar>
            <div>
                <img *ngIf="isUploaded" [src]="uploadedUrl" alt="">
            </div>
        </form>
        
        <!-- Comment button submit -->
        <div class="comment-btn">
            <button mat-raised-button type="submit">Comment</button>
        </div>

    </mat-card>
</form>