.desc-wrapper {
    width: 100%;
    height: auto;
}

.desc-card,
.leave-comment-card {
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    width: 90%;
    height: auto;
    margin-top: 10px;
}

.activity-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.leave-comment-card {
    margin-top: 30px;
}

.show-comment {
    overflow-y: scroll;
    width: 100%;
    height: 10rem;
    margin-top: 10px !important;
}

textarea {
    width: 100%;
}

.border {
    border: 1px solid #e2e2e2;
}

img {
    max-width: 20rem;
    max-height: 20rem;
    margin: auto;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.ImageAct{
    max-width: 50rem;
    max-height: 50rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.img-user {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10%;
}

.img-user1 {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.comment-position-sub {
    margin-top: 1%;
}

.description {
    margin: 5%;
}

mat-form-field {
    margin-left: 1%;
    width: 100%;
}