<div class="container justify-content-center">

    <mat-card class="card-content-wrapper">
        <div>
            <h5> Update Activity </h5>
        </div>

        <form [formGroup]="form" (submit)="submit()">

            <div class="container">

                <div class="row">
                    <!-- act name -->
                    <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="activity name">
                        </mat-form-field>
                    </div>
                    <!-- act date -->
                    <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput [matDatepicker]="picker" placeholder="activity date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <!-- location -->
                    <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="location">
                        </mat-form-field>
                    </div>
                    <!-- start time -->
                    <div class="col-3">
                        <mat-label> start time </mat-label>
                        <input atp-time-picker value="00:00" />
                    </div>
                </div>

                <div class="row">
                    <!-- location -->
                    <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput [matDatepicker]="picker" placeholder="activity start date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <!-- start time -->
                    <div class="col-3">
                        <mat-form-field class="full-width">
                            <input matInput [matDatepicker]="picker" placeholder="activity end date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <div class="row">
                <!-- image upload -->
                <div class="col">
                    <form>
                        <mat-file-upload [labelText]="'select activity image:'" [selectButtonText]="'Choose File'" [uploadButtonText]="'Upload'"
                            [allowMultipleFiles]="'false'" [showUploadButton]="'true'" [customSvgIcon]="'close_custom'" [acceptedTypes]="'.png, .jpg, .jpeg, .bmp, .gif'"
                            (uploadClicked)="onUploadClicked($event)" (selectedFilesChanged)="onSelectedFilesChanged($event)">
                        </mat-file-upload>
                        <mat-progress-bar mode="indeterminate" *ngIf="progress > 0"></mat-progress-bar>
                        <div>
                            <img *ngIf="isUploaded" [src]="uploadedUrl" alt="">
                        </div>
                    </form>
                </div>
            </div>

            <div class="row register-button-row">
                <div class="col">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" [class.submit-button]="form.valid"> Update </button>
                </div>
            </div>
            <mat-progress-bar style="margin-top: 5px;" mode="indeterminate" *ngIf="isRegistering"></mat-progress-bar>
        </form>
    </mat-card>

</div>