.container {
  margin-top: 30px;
}

.card-content-wrapper {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.row {
  justify-content: center;
  margin: 0;
  padding: 0;
}

.full-width {
  width: 100% !important;
}

.submit-button {
  background: #A0D4A4 !important;
  color: black !important;
  margin-top: 20px !important;
}

.register-button-row {
  margin-top: 20px;
}