<div class="desc-wrapper">
    <!-- activity descrition -->
    <mat-card class="desc-card">
        <mat-card-subtitle> Activity Description </mat-card-subtitle>
        <!-- <img mat-card-image [src]=""/> -->
        <mat-card-content>

            <div class="row">

                <div class="col-3">
                    <img src="assets/images/camt.jpg" class="activity-image">
                </div>

                <div class="col border">
                    <p> all sescription goes here . . . </p>
                </div>

            </div>

        </mat-card-content>
    </mat-card>

    <!-- leave comment field -->
    <mat-card class="leave-comment-card">

        <mat-card-subtitle> Leave Comment </mat-card-subtitle>

        <div class="row">
            <div class="col-8">
                <textarea matInput placeholder="input comment here . . ."></textarea>
            </div>
            <div class="col">
                <mat-card-actions>
                    <button mat-raised-button> Comment </button>
                </mat-card-actions>
            </div>
        </div>

        <mat-card-content>
            <div class="show-comment border">
                <p> all comment goes here </p>
                <p> all comment goes here </p>
                <p> all comment goes here </p>
                <p> all comment goes here </p>
                <p> all comment goes here </p>
                <p> all comment goes here </p>
                <p> all comment goes here </p>
                <p> all comment goes here </p>
                <p> all comment goes here </p>
                <p> all comment goes here </p>
                <p> all comment goes here </p>
            </div>
        </mat-card-content>

    </mat-card>

    <!-- show all comment -->
</div>