.desc-wrapper {
    width: 100%;
    height: auto;
}

.desc-card, .leave-comment-card {
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    width: 90%;
    height: auto;
    margin-top: 10px;
}

.activity-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.leave-comment-card {
    margin-top: 30px;
}

.show-comment {
    overflow-y: scroll;
    width: 100%;
    height: 10rem;
    margin-top: 10px !important;
}

textarea {
    width: 100%;
}

.border {
    border: 1px solid #e2e2e2;
}
