<div class="container-fluid center-text">
    <img src="../../assets/images/rama9.jpg" width="1920" height="816" usemap="#planetmap">

    <map name="planetmap">
        <area shape="rect" coords="972,612,1283,657" [routerLink]="['/login']" routerLinkActive="router-link-active">
    </map>
</div>